
body { background-color: rgb(15, 15, 15);
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color: rgb(124, 118, 117);
    margin:0;
    }

#nome {
    position: fixed;
    height: 120px;
    top: 0;
    width: 100%;
    margin-left: 0px;
    margin-top: 200px;
    text-align: center;
    }

#icone{
    height: 25px;
    }

